
<footer class="pv4 ph3 f6 bg-purple white">
	<div class="tc ma3">
		<a href="/sobre/" title="Sobre a Miaversa" class="dib ph2 link white dim">Sobre</a>
	</div>

	<div class="tc ma3" itemscope itemtype="http://schema.org/Organization">
		<link itemprop="url" href="https://miaversa.com.br">
		<a class="dib ph2 link white dim" itemprop="sameAs" href="https://www.instagram.com/miaversa/">Instagram</a>
		<a class="dib ph2 link white dim" itemprop="sameAs" href="https://www.facebook.com/Miaversa-186160335344437/">Facebook</a>
	</div>

	<div class="tc ma3">
		<small><a href="/privacidade/" title="Política de Privacidade" class="dib ph2 link white dim">Política de Privacidade</a></small>
	</div>

	<small class="db tc">
		© 2018 <strong class="ttu">MIAVERSA</strong> - Todos os direitos reservados<br />
		CNPJ: 29.523.540/0001-31
	</small>
</footer>
